body{
  font-family: Helvetica;
  text-align:center;
}


a{
  font-size:18px;
  text-transform:underline;
  color:white;
  padding:auto;

}

p{
  font-size:14px;
}

h3{
  font-size:23px;
}

#Header{
  background-image:url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  color:white;
  font-size:70px;

}

#NY{
  background-image:url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  color:white;
}
